@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/*
font-family: "Noto Serif", serif; 
font-family: "Poppins", sans-serif;
font-family: "Roboto Slab", serif;
font-family: "Lato", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Playfair Display", serif;
*/
.hueButtonHover{
    position: relative;
    width: 40%;
    min-width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 1% 2%;
    text-transform: capitalize;
    height: 50px;
    border: 1px solid #027874 ;
    outline: none;
    color: #0bf5ed;
    border-radius: 10px;
    cursor: pointer;
    z-index: 0;
  }
  .hueButtonHover::before{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
    background: linear-gradient(45deg, #6dfa80,#06c923,#b3e70a,#fc7f09, #025b03,#10f2ea,#6dfa80);
    background-size: 200%;
    /* filter: blur(5px); */
    z-index: -1;
    transition: opacity .3s ease-in-out;
    animation: glowing_effect 10s linear infinite;
    box-shadow: 0 0 8px 2px #027874 ;
  }
  @keyframes glowing_effect {
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 200% 0;
    }
    100%{
      background-position: 0 0;
    }
    
  }

  .hueButtonHover:active{
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 1px 5px #2222;
  }
  .hueButtonHover:active::after{
    background: transparent;
  }
  .hueButtonHover:hover::before{
    opacity: 1;

  }
  .hueButtonHover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0a0a0a;
    border-radius: 10px;
    z-index: -1;
  }

  /* Text Hue Animation */
  .text_Hue_Animation{
      background: linear-gradient(to right ,#0bf5ed,#06c923,#b3e70a,#fc7f09,#eb2a04,#f103c9,#2752ed,#4def16,#e6f60c,#0bf5ed);
    background-clip: text;
    background-size: 200% auto;
    color: transparent;
    animation: textHueAnimate 8s ease infinite ;
    font-weight: 800;
    letter-spacing: 4px;
    word-spacing: 3px;
    font-family: "Lato", sans-serif;

  }

  @keyframes textHueAnimate {
    0%{
        background-position: 200% 50%;
    }
    50%{
        background-position: 150% 150%;

    }
    100%{
        background-position: 0% 50%;
    }
  }

  /* Logo */
  .logoSquare{
    border: 2px solid #0bf5ed;
    box-shadow: 5px 0 20px 1px #55f6f1;
  }
  .logoSquare p{
    text-shadow: 0 0 100px #1E1E2C;
    color: #fff;
  }
  /* hireMe */
           
           
  .hireMe {
    background-image: linear-gradient(to right, #012443 0%, #05aaa5  51%, #004e92  100%);
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-weight: 600;            
    box-shadow: 0 0 30px 2px #7ff6de;
    border-radius: 8px;
    display: block;
    scale: 1;
    font-family: "Lato", sans-serif;
  }

  .hireMe:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    scale: 1.05;
    box-shadow: 0 0 20px #02a7c0 ;
  }
 .hireMe:active{
  background: #c0e8f6;
  color: #012d54;
  font-weight: 800;
 }
 

/* border-bottom */
.border_bottom{
position: relative;
text-decoration: none;
padding: 0 10px;

}
.border_bottom::after{
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 50%;
  width: 0;
  background-color: #05aaa5;
  left: 0;
  bottom: -10px;
  transition:  0.3s ease-in;
}
.border_bottom:hover::after{
 width: 100%;
}

/* heading border - bottom animation */

.heading {
  position: relative;
}

.heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.020em;
  background: #02a7c0d3;
  left: 0;
  bottom: -10px;
  transform: scaleX(0);
  transform-origin: center;
  animation: expand 8s ease-in-out forwards infinite;
}

@keyframes expand {
  0% {
    transform: scaleX(0);
  }
  50%{
    transform: scaleX(1);
  }
}

@media (min-width: 350px) and (max-width:480px) {
  .hireMe {
    box-shadow: 0 0 6px 1px #7ff6de;
  }  
  
}



  /* scroll */
  body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #0a0a0a;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgba(7, 248, 212, 0.866);
    outline: 1px solid slategrey;
    border-radius: 50px;
  }